[submodule "image/openwhisk"]
	path = image/openwhisk
	url = git@github.com:nuvolaris/openwhisk
	branch = master
[submodule "olaris"]
	path = olaris
	url = git@github.com:nuvolaris/olaris
	branch = 4.0.0-testing
